:root {
    --primary: #e9e9e9;
    --secondary: #818181;
    --border: #e90000;
    --background: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    overscroll-behavior-y: contain;
    overflow-y: scroll;
    background-color: var(--background);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary);
    font-family:
        IBM Plex Mono,
        Noto Sans Mono Variable,
        Noto Sans Mono,
        monospace;
}

.schedule-item,
.schedule-item-active {
    contain: content;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 720px;
    padding: 0 10px 0 10px;
    gap: 6px;
    margin: 0 0 18px 0;
}

.schedule-item-active {
    scroll-margin-top: 2px;
    padding: 10px;
    outline-offset: -6px;
    outline: 3px dashed var(--border);
}

.discipline-info {
    display: flex;
    flex-direction: column;
}

.discipline-date {
    font-size: 17px;
    align-self: center;
}

.discipline-name {
    gap: 6px;
    display: flex;
    font-weight: bold;
    font-size: 19px;
}

.discipline-description {
    font-size: 17px;
    color: var(--secondary);
}

.discipline-badge {
    user-select: none;
    -webkit-user-select: none;
    height: min-content;
    opacity: 0.9;
    color: var(--background);
    background-color: var(--primary);
    font-weight: normal;
    font-size: 17px;
    border-radius: 8px;
    padding: 0px 5px 0px 5px;
    margin-top: 2px;
}

::selection {
    color: var(--background);
    background-color: var(--primary);
}